.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-items: center;
}


/*секция header*/


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  width: 730px;
  z-index: 2;
  margin-left: 64px;
  line-height: 96px;
  font-size: 120px;
  font-weight: 700;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}


/* секция description */


.description {
  display: flex;
  justify-items: center;
}

.two-columns {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-of-type(2){
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: 700;
}


/* секция digits */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 100px 0 20px 0;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  margin: 0 auto 100px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-of-type {
  margin-bottom: 0;
}


/* секция feynman*/


.feynman {
  height: 890px;
  background: url(../images/feynman.png) 868px 637px no-repeat;
  background-color: #f2f2f2;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
}

.feynman__title {
  width: 648px;
  margin: 100px 0 70px 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}


/* cекция kaufman */


.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  margin: 90px 0 20px 0;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}


/* footer */


.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 40px 0;
  width: 90%;
}

.footer__column {
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  align-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}
